.container {
  display: flex;
  background: #f5f6fb;
  padding: 0.5rem 1rem;
  border-radius: 0.75rem;
  gap: 20px;
}

@media (min-width: 768px) {
  .container {
    display: grid;
    padding-block: 0.75rem;
    justify-items: center;
  }
}
